* {
    box-sizing: border-box;
    padding: 1em;
}

html,body{
  height: 100%;
  padding: 0;
  margin: 0;
}

header, footer{
  color: white;
  background-color: #1976D2 ;
} 

aside{
  color: #212121;
  background-color: white;
}

section{
  background-color: #FF4081;
  color: white;
}

main{
  scroll-snap-type: y mandatory;
  grid-gap: 4px;
  background-color: gainsboro;
  color: white;
  max-width: 100%;
}

body{
  background-color: #FFFFFF;
}
