* {
    box-sizing: border-box;
    padding: 1em;
}
html,body{
  height: 100%;
  padding: 20;
  margin: 10;
}
header, footer{
display: grid;
  border:solid;
border-color:black;
border-width: 5px;
  color: white;
  background-color: #1976D2 ;
  grid-column: span 2;
  }
aside{
display: grid;
  color: #212121;
  background-color: yellow;
  grid-template-rows: 4;
  row-gap: 5px;
}
div{
display: grid;
padding: 2px;
background-color: green;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
column-gap:2px;
grid-column: span 2;
}
button{
background-color: #FF4081;
  color: white;
  
}
section{
  background-color: #FF4081;
  color: white;
  grid-column: span 1;
}
main{
  scroll-snap-type: y mandatory;
  grid-gap: 1px;
  background-color: red;
  color: white;
  max-width: 100%;
}
body{
  display: grid;
  background-color: #FFFFFF;
  grid-template-rows: 1fr 1fr 8fr 1fr;
  grid-template-columns: 2fr 8fr;   
}
